.emp-profile{
    max-width: 932px;
    background-color: #fafafa;
        padding: 20px;
    margin-top: 2%;
}
#profile{
    display: None;
}
.profile-head{
    margin: 20px;
}
.row{
    position: relative;
}
.btns{
    position: absolute;
    right: 0;
    top:0;
}
.nav-tabs {
    border-bottom: 5px solid #dee2e6;
    text-decoration: underline;
}
#profile-tab:focus{
    color:aqua;
}
#home-tab:focus{
    color: aqua;;
}  
.profile-work{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}